<%- include('partials/header') %>

<div class="container">
    <h2>Welcome <%= name %>!</h2>
    <p>You logged in using a <%= securityLevel %> connection.</p>
    <a href="/home" class="button">Go to Blog</a>
</div>

<%- include('partials/footer') %>